const html_header = `<!DOCTYPE html>
<html>
<head>
    <title>Laboratorio 9: Frida</title>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #f1e2f5;
            text-align: left;
            font-family: monospace;
            padding: 20px;
            line-height: 1.6;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 15px;
        }
        aside {
            float: right;
            margin-left: 20px;
        }
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    </style>
</head>
<body>`;