body {
    background-color: #f1e2f5;
    text-align: left;
    font-family: "Roboto Flex", sans-serif;
    padding: 20px;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: left; 
    gap: 0px; 
}

 
img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}
